{% extends 'base.html.twig' %}

{% block title %}Todas las Tareas{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Todas las Tareas ✅</h2>
     {{ include('includes/table-tasks.html.twig' )}}
</div>
{% endblock %}
